:root {
  --font-oswald: "Oswald", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --color-gold-darker: #C2A361;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-oswald);
}
.container {
  width: 85%;
  max-width: 2000px;
  margin: 0 auto;
  z-index: 1;
}
header {
  background-image: url(hero-img.jpg);
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  padding-block: 50px;
  position: relative;
  z-index: -2;
}
.header-overlay {
  position: absolute;
  inset: 0;
  z-index: -1;

  background-color: rgba(0, 0, 0, 0.4);
  @media (min-width: 46.875em) {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) 50%, transparent 60%);
  }
}
nav {
  background-color: var(--color-gold-darker);
  border-radius: 50px;
  padding: 5px 50px;
  position: relative;
}
.logo {
  display: none;
  height: 120px;
  @media (min-width: 46.875em) {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;

  font-family: var(--font-dm-sans);
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.2em;
  text-align: center;

  @media (min-width: 46.875em) {
    display: flex;
    justify-content: space-between;
  }
}
.hero {
  color: white;
  @media (min-width: 46.875em) {
    width: 50%
  }
}
.hero-title {
  font-family: var(--font-dm-sans);
  font-size: 4.375rem;
  line-height: 1;
  font-weight: 700;
}
.hero-txt {
  font-size: 1.875rem;
  line-height: 1.3;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}